header{
  display:flex;
  justify-content: space-between;
  align-items:center;
  padding: 30px 5%;
}

#logo{
  height:100%;
  width:55%;
  cursor: pointer;
  font-size: 2vw;
  display:flex;
  justify-content: center;
  border: 0px none;
  background: rgba(0, 0, 0, 0);
  transition: color 200ms;
}
#logo:active #hide{
  max-width:100%;
}
#logo.lightTheme h1{
  color:black;
}
#logo.darkTheme h1{
  color:white;
}

#hide {
  display: inline-block;
  max-width: 0%;
  vertical-align: bottom;
  overflow: hidden;
  white-space: nowrap;
  transition: max-width 1.5s;
}

h1{
  display: flex;
}

h1:hover #hide {
  max-width: 100%;
}
#modes{
  transition:200ms;
  border:0px none;
  font-size:3vh;
  background:none;
  cursor:pointer;
}
#account{
  border-radius:10px;
  border: 0px none;
  background:#c7c7c7;
  color:#373737;
  height: fit-content;
  padding: .5vh 1vh;
  font-size:2.5vh;
  transition:200ms;
}
#account:hover{
  cursor:pointer;
}
#account.darkTheme{
  background:#373737;
  color:#c7c7c7;
}
#account.lightTheme{
  background:#c7c7c7;
  color:#373737;
}


#main{
  border:0px none;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 90vw;
  height: 74vh;
  margin-left: -45vw;
  margin-top: -34vh;
  background: #ddd5;
  border-radius: 10px;
  overflow:auto;
  max-height:100%;
  display:flex;
  flex-direction:column;
  align-items:center;
}
#main.darkTheme{
  background:#373737;
}
#main.lightTheme{
  background:#ddd5;
}
.wrap{
  border:0px none;
  background:#ffffff;
  box-shadow: 0px 0px 12px 0px #0004;
  border-radius:20px;
  width:90%;
  height:fit-content;
  padding: 7%;
  font-family: "Montserrat", sans-serif;
}
.wrap.darkTheme{
  background:#303030;
  color:white;
}
.wrap.lightTheme{
  background:#ffffff;
  color:black;
}
.inp{
  background:none;
}
.inp.darkTheme::placeholder{
  color: #f0f0f0;
  opacity: 1;
}
.inp.lightTheme::placeholder{
  color: #303030;
  opacity: 1;  
}
#email{
  margin-top:min(50px, 10.5vh);
}
#password{
  margin-top:3.5vh;
  margin-bottom:3.5vh;
}
#em, #pw{
  border: 1px white solid;
  border-radius: 5px;
  padding: 0.3em;
}
#em.lightTheme{
  border:1px black solid;
  color:black;
}
#pw.lightTheme{
  border:1px black solid;
  color:black;
}
#em.darkTheme{
  border:1px white solid;
  color:white;
}
#pw.darkTheme{
  border:1px white solid;
  color:white;
}

input::placeholder{
  font-style:italic;
  color:grey;
}

.title{
  font-family: "Montserrat", sans-serif;
  color: purple;
  font-weight:450;
  font-size: 4vh;
}
#j{
  background:#69bed3;
  margin-top:8vh;
  width:7em;
  height:7em;
  border-radius:50%;
  display:flex;
  align-items:center;
  flex-direction:column;
  justify-content: center;
  box-shadow: 0px 0px 12px 0px #0004;
}
#j.darkTheme{
  background:#3ea2bb;
}
#j.lightTheme{
  background:#85d2e5;
}
#alpha{
  width: 7vh;
  height: 6vh;
}

.submitB{
  font-family: "Montserrat", sans-serif;
  font-size:3vh;
  padding: 1vh 0px;
  border-radius:10px;
  color:white;
  border: 0px none;
  width:90%;
  text-align:center;
  height:fit-content;
  margin-bottom:2vh;
}
.submitB.darkTheme{
  background:#3ea2bb;
}
.submitB.lightTheme{
  background:#85d2e5;
}

#links{
  font-family:"Montserrat", sans-serif;
  width:90%;
  background:none;
  border: 0px none;
  font-size: 1.5vh;
  display:flex;
  justify-content: space-between;
  margin-bottom:2vh;
}


@media (max-width: 450px){
  #logo{
    font-size: 2.5vw;
  }
  header{
    display:flex;
    justify-content: space-between;
    padding: 30px 4% 0px 10%;
  }
  #modes{
    font-size:2.5vh;
  }
}